* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

#feature {
  margin-left: 3%;
  list-style-type: square !important;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: lightgrey;
}

.linkedin {
  background: white;
  color: black;
}

.linkedin :hover {
  color: #0077B5;
}

.gitlab {
  background: white;
  color: black;
}

.gitlab :hover {
  color: #fc6d26;
}

.download {
  background: white;
  color: black;
}

.download :hover {
  color: green;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: white;
  /* Set a background color */
  color: black;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  font-size: 18px;
  /* Increase font size */
  font-family: 'DM Sans', sans-serif;
}

.boxone {
  height: 100%;
  margin-top: 3rem;
}

.brand-logo {
  height: 100%;
  width: 70px;
  border: 1px solid;
}

#row-one, #row-two, #row-three, #row-zero, #row-four {
  height: 100%;
  position: relative;
  padding: 6rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#row-two, #row-zero {
  height: 100%;
}

#row-zero {
  padding-top: 5rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#about-desc {
  font-size: 140%;
  text-align: justify;
}

#tech-icon {
  height: 50%;
  width: 50%;
}

#icon-col {
  padding: 30px;
}

#process-icon {
  height: 40%;
  width: 40%;
}

#process-desc {
  font-size: 125%;
  text-justify: auto;
}

#about-txt, #work-txt, #tech-txt, #process-txt {
  font-weight: bold;
  font-size: 4vw;
}

#code-btn {
  text-decoration: none;
}

#process-title {
  font-weight: bold;
}

#icon-desc {
  font-size: 2vw;
}

#prof-pic {
  height: 50%;
  width: 50%;
  border-radius: 100%;
}

#card-pic {
  height: 25rem;
  width: 49.5rem;
}

#reach-txt {
  font-weight: bold;
}

#email-txt {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#soc-txt {
  padding-left: 20%;
  text-decoration: none;
}

#page-footer {
  padding: 0px;
  margin-top: 3%;
  height: auto;
}

#email-row {
  height: 18vh;
  margin: 0 auto;
}

#soc-row {
  margin-bottom: 0px;
}

#cards {
  margin-top: 10%;
}

.card-content p {
  font-size: 1.2rem;
}

.card-title {
  font-weight: bolder;
}

h6 {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-action a {
  text-decoration: underline;
  font-weight: bold;
}

#nav-mobile li a {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */